<ion-view view-title="Alterar de Senha">
  <ion-content>
    <ion-list>
      <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
</div>


      </ion-list>



    <div class="BotaoSair">
      <button class="button button-block button-assertive">
          Sair
      </button>
    </div>




  </ion-content>
</ion-view>
