<ion-view view-title="Histórico">
  <ion-content class="FundoGlobal">
    <div class="list card">

  <div class="item item-avatar">
    <img src="../img/avatar.jpg">
    <h2>Mary</h2>
    <p> 7 julho 2017</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="../img/prop1.jpg">
    <p>
      Venha conhecer nossa linha de utensílios de cozinha, ótimas opções para presentear. Descontos de até 50%!
    </p>
    <p>
      <a href="#" class="subdued">103 Like</a>
      <a href="#" class="subdued">40 Comments</a>
    </p>
  </div>

</div>
<div class="list card">

<div class="item item-avatar">
<img src="../img/fogaça.jpg">
<h2>Chef Henrique Fogaça</h2>
<p>8 julho 2017</p>
</div>

<div class="item item-body">
<img class="full-image" src="../img/happydestaque.jpg">
<p>
   Todo dia tem uma delícia diferente, venha conhecer e saborear nossos deliciosos pratos..!!
</p>
<p>
  <a href="#" class="subdued">97 Like</a>
  <a href="#" class="subdued">15 Comments</a>
</p>
</div>

</div>
<div class="list card">

<div class="item item-avatar">
<img src="../img/avatarViagem.jpg">
<h2>CVC Viagens</h2>
<p>8 julho 2017</p>
</div>

<div class="item item-body">
<img class="full-image" src="../img/viagens.jpg">
<p>
  This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
  the content is from a card-body consisting of an image and paragraph text. The footer
  consists of tabs, icons aligned left, within the card-footer.
</p>
<p>
  <a href="#" class="subdued">85 Like</a>
  <a href="#" class="subdued">28 Comments</a>
</p>
</div>

</div>
  </ion-content>
</ion-view>
