<ion-view view-title="Perfil" class="FundoGlobal">

 <ion-content>

  <!-- <div class="item item-body"> -->
    <img ng-src="../img/fundoCozinhaProfile.jpg" id="fundoProfile">
  <!-- </div> -->

  <div class="pagina-perfil">
   <img id="foto_perfil" ng-src="{{face.foto}}">
    </div>
      <p classe="dados_face">{{face.nome}}</p>
    </div>
  </div>

   <div class="list card">
     <div class="item item-perfil">
       <div class="row">
       <p class="ion-social-usd"> 859 Pontos</p>

    </div>
  </div>
</div>
   <div class="list card">
     <div class="item item-perfil">
       <div class="row">
       <p class="ion-android-time"> 180 mininutos</p>
    </div>
  </div>
</div>


<button class="button button-block button-balanced">
  Trocar pontos
</button>

  </ion-content>
</ion-view>
