<ion-view view-title="Configuração">
  <ion-content class="FundoGlobal">
    <ion-list>
      <ion-toggle ng-model="settings.enableFriends">
      Ativar Notificação
      </ion-toggle>

    <button class="button button-full config" ng-click="abreModal()">
      Redefinir senha
    </button>
    <button class="button button-full config">
      Politica de privacidade
    </button>
    <button class="button button-full config">
      Desativar conta
    </button>


    </ion-list>



    <div class="BotaoSair">
      <button class="button button-block button-assertive">
          Sair
      </button>
    </div>




  </ion-content>
</ion-view>
