<ion-view view-title="Perfil" class="FundoGlobal">
  <ion-content class="pagina-perfil">

    <div class="list">

      <img src="img/perfil.png">
      <p class="name">Usuário</p>
    </div>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Saldo</span>
        <input type="text" placeholder="R$ 65,00">
      </label>
    </div>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Horas / Dias online</span>
        <input type="text" placeholder="15 Dias">
      </label>
    </div>

    <button class="button button-full button-balanced">
    <i class="ion-cash"></i>  Saque <i class="ion-cash"></i>
    </button>

    <div class="suporte">

      <button class="button ion-android-warning"> Suporte </button>

    </div>

  </ion-content>
</ion-view>
