<ion-view view-title="Funções">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="funcao in funcoes" type="item-text-wrap" href="#/tab/funcoes/{{funcao.id}}">
        <img ng-src="{{funcao.face}}">
        <h2>{{funcao.name}}</h2>
        <p>{{funcao.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
