.BotaoSair{

  width: 86%;
  margin: 0 auto;
}

.pagina-perfil img{
    width: 100%;
    display: block;
    margin: 1px auto;
}

.pagina-perfil p{
    width: 100%;
    margin-left: 55px;
    margin-top: 10px;
}

.pagina-perfil p.name{
    font-size: 20px;
    font-weight: bold;
}/* Empty. Add your own CSS if you like */

.suporte{
  margin-left: 210px;
}

/*Aqui inicia o css da aba funções*/
.head{
  background-image: url('../img/invest.png');
  height: 200px;
  background-size: 100%;
}

.head h1{

  padding-top: 70px;
  font-size: 30px;
  display: block;
  text-align: center;
}
.termos{

}

.termos h2{
  font-size: 20px;
  text-align: center;
  padding: 20px;
  padding-bottom: 0px;

}

.termos p{
  font-size: 10px;
  padding: 20px;
  text-align: center;
  padding-bottom: 0px;
}

.FundoGlobal{
  background-image: url("../img/pinkimage.jpg");
  display: block;
  background-repeat: no-repeat;
  height: 100% auto;
  background-size: 100%;
}

.button.button-stable{
  border-color: transparent;
  background-color: rgba(165, 150, 150, 0.4);
  color: #fafafa;
}
div.title.title-left.header-item{
  text-align: center;
  color: #000a1a;
  left: 0 !important; /*important ignora todos os outros valores de left */ 
}
ion-header-bar.bar-positive.bar.bar-header{
  border-color: transparent;
  background-color: #F2f2f2;
  color: #000a1a;
}
div.tab-nav.tabs{
  border-color: transparent;
  background-color: #000a1a;
  color: #000a1a;
}
ion-tabs.tabs-color-active-royal .tab-item {
    color: #Eee6ff;
}
